img {
    width: 230px;
}
body {
    text-align: center;
}
body {
    text-align: center;
    font-family: "impact";
    color: FUCHSIA;
    background: black;
    background-image: url("https://m.popkey.co/99d94a/YRRoZ.gif");
    background-repeat: repeat-y;
    background-position: left top;
    background-size: 230px;
    background-repeat: repeat;
}